.text-input-standard {
  width: 90%;
  padding: 10px;
  border: 3px solid;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  text-align: left;
  transition: all 0.3s;
}

.text-input-standard::placeholder {
  color: color-mix(in srgb, var(--color-text) 50%, var(--color-background) 50%);
}
  
.text-input-standard:focus{
  border: 3px solid var(--color-primary);
}
  