.text-input-standard {
  width: 90%;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background: #121212;
  text-align: center;
  transition: all 0.3s;
}

.text-input-standard::placeholder {
  color: #bbb;
}
  
.text-input-standard:focus{
  border: 2px solid #007BFF;
}
  