.header-standard {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  width: 100%;     
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-standard h1 {
  margin-left: 20px;
  font-size: 30px;
  color: var(--color-text);
}

.header-standard h3, h4 {
  color: var(--color-text);
  margin: 1rem;
}
