.button-standard {
  width: 90%;
  padding: 10px;
  background: #203a43;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
  
.button-standard:hover {
  background: #2c5364;
}