.button-primary {
  width: 100%;
  font-weight: bold;
  color: var(--color-background);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--color-primary);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}
  
.button-primary:hover {
  background: color-mix(in srgb, var(--color-primary) 80%, white 20%);
}

.button-primary.medium {
  width: 70%;
}