/* Estilos generales para el dashboard */
.dashboard-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Barra lateral */
  .sidebar {
    background-color: #121212;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed; /* Esto asegura que la barra quede fija en la izquierda */
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }

  .sidebar h4 {
    position: absolute;
    bottom: 0px;
    transform: translateY(-100%);
  }
  
  /* Contenedor principal */
  .main-content {
    margin-left: 250px; /* Esto deja espacio para la barra lateral */
    padding: 20px;
    width: calc(100% - 250px); /* Ajusta el contenido al espacio restante */
    transition: margin-left 0.3s ease;
  }
  
  .dashboard-welcome {
    text-align: center;
  }
  
  .dashboard-welcome h1 {
    font-size: 30px;
    color: #00bcd4;
  }
  
  .dashboard-welcome p {
    font-size: 18px;
    color: white;
  }
  