/*
----- Variables -----
*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-background);
}

:root {
  --color-background: #ffffff;  
  --color-text: #000000;  
  --color-secondary-text: gray;
  --color-secondary: #48cfcb;
  --color-primary: #229799;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2a2a2a;
    --color-text: #ffffff;
    --color-secondary-text: gray;
    --color-primary: #48cfcb;
    --color-secondary: #229799;
  }
}

/*
----- Estilos -----
*/
.standard-wrapper {
  color: var(--color-text);
  background-color: var(--color-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

main, form {
  display: flex;
  min-width: 50vw;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

span {
  display: flex;
  justify-content: space-between; 
}

h3 {
  margin: 0;
}

table {
  border-collapse: collapse;
}

th {
  border: 3px solid var(--color-text);
}

td {
  border: 2px solid var(--color-text);
}

td.--fixed-value {
  color: gray;
}

input {
  color: var(--color-text);
  padding: 5px;
  font-size: 15px;
  background-color: var(--color-background);
  outline: none;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  transition: border 0.3s;
}

input:focus {
  border: 2px solid var(--color-primary);
}

input.--modifiable-value {
  text-align: center;
  outline: none;
  border: 0px solid transparent;
}

input.--modifiable-value::placeholder {
  color: var(--color-text);
}

button {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 10px;
  min-height: 5vh;
  color: var(--color-background);
  background-color: var(--color-primary);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-secondary);
}

button.--dangerous {
  background-color: red;
  transition: all 0.3s;
}

button.--dangerous:hover {
  padding: 10px;
}